body {
    margin: 0px;
}

.section {
   height: 100vh;
   

}
.quote-firts {
   font-family: 'Roboto', Sans-Serif; 
   font-size: 18px;
   border-left: 4px solid #f6c89f;
   margin: 20px 50px;
   padding: 10px 0px 10px 20px;
   max-width: 80%;
   box-sizing: content-box; 
}

.container-firts {
   background: #E3FBEC;
   width: 500px;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.44);
}
   
 .section-first {
   height: 100vh;
   background: #c6f1d6;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.quote-second {
   font-family: 'Roboto', Sans-Serif;
   font-size: 18px;
   border-left: 4px solid #c6f1d6;
   margin: 20px 50px;
   padding: 10px 0px 10px 20px;
   max-width: 80%;
   box-sizing: content-box; 
 }

.container-second {
   background: #f6c89f;
   width: 500px;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.44);
}

.section-second {
   height: 100vh;
   background: #ffba92;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.quote-third {
   font-family: 'Roboto', Sans-Serif;
   font-size: 18px;
   border-left: 4px solid #1fab89;
   margin: 20px 50px;
   padding: 10px 0px 10px 20px;
   max-width: 80%;
   box-sizing: content-box; 
}

.container-tirth {
   background: #FB9D9D;
   width: 500px;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.44);
}

.section-third {
   height: 100vh;
   background: #1fab89;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.quote-fourth {
   font-family: 'Roboto', Sans-Serif;
   font-size: 18px;
   border-left: 4px solid #FB9D9D;
   margin: 20px 50px;
   padding: 10px 0px 10px 20px;
   max-width: 80%;
   box-sizing: content-box; 
   height: 181px;
}

.container-fourth {
   background: #24C79F;
   width: 493px;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.44);
}

.section-fourth {
   height: 100vh;
   background: #FB9D9D;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;

}
.author {
   font-family: 'Droid Serif', Serif;
   font-size: 11px;
   margin: 20px 70px;
}

.zapata-portrait {
   width: 100%;
   
   }
.barthes-portrait {
   width: 100%;
   margin: auto;
}
.auster-portrait {
   width: 100%;
   margin: auto;
}
.hustvedt-portrait {
   width: 100%;
   margin: auto;
}